<h1>And your score is:</h1>
<p>Grid is <%= @grid %></p>
<p>Word is <%= @word %></p>
<p>Result is <%= @message %></p>
<p>Time is <%= @time %></p>
<p>Score is <%= @score %></p>
<div>
  <%= link_to "New Game", :new, {:class => "btn btn-primary"}%>
</div>
