<h1>These are your stats:</h1>
<p>Grid : <%= @grid %></p>
<p>Word : <%= @word %></p>
<p>Result : <%= @message %></p>
<p>Time : <%= @time %> seconds</p>
<p>Score : <%= @score %> points</p>
<div>
  <%= link_to "New Game", :new, {:class => "btn btn-primary"}%>
</div>
